.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__user {
  margin-right: 10px;
  padding: 10px;
}
@media (max-width: 760px) {
  .home__image {
    margin-bottom: 20px;
  }
  .home__row {
    flex-wrap: wrap;
  }
}
